@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    background-color: rgba(137, 43, 226, 0.212);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    padding: 50px;
    border-radius: 5px;

    background-color: white;
}

main img{
    min-width: 200px;
    min-height: 300px;
    max-height: 200px;
    max-width: 100%; /* Para garantir que as imagens não ultrapassem a largura do slide */
    border: 1px solid black;
    border-radius: 5px;
}

.card {
    background-color: rgb(160, 105, 212);
    min-width: 200px;
    max-height: 400px;
    text-align: center;
    padding: 20px;
}

i {
    margin-right: 7px;
}

.swiper-container {
    width: 20vw;
    height: 48vh;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    main {
        padding: 250px 25px;
    }   
}